.about--main
{
    color: black;
}

.main--container-frame
{

    width: 100%;
    margin-top: 200px;
    padding-top: 5px;
    left: 0px;
    background-color: black;
    opacity: 0.9;
}

.about--block
{
    background-color: rgb(233, 189, 140);
}