footer
{
    top: 0%;
    left: 0%;
    width: 100%;
}

#upperFrame
{
    position: fixed;
    width: 100%;
    height:5%;
    background-color: black;
}


nav
{
    font-size: 30px;
    color: white;

    position: fixed;
    left: 45%;
}

main
{
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.9;
}

#userProfile
{
    position: absolute;
    background-color: white;
    top:0%;
    right:0%;
}

.inlineText
{
    display: inline;
}

#loginMenu
{
    font-size: 30px;
    position: absolute;
    width: 20%;
    height:40%;
    top:30%;
    left: 40%;
}

.submitForm
{

}

.--visibled
{
    visibility: visible;
}

.--hidden
{
    visibility: hidden;
}

#logregField
{
    color: white;
    background-color: black;
    opacity: 0.9;
}