.post--container
{
    width: 100%;
    background-color: rgba(30, 30, 30,0.8);
    border: 2px solid rgb(121, 121, 121);
    border-radius: 10px;

    margin-top: 2%;
    color: white;
}

.post--body
{
    text-align: center;
    font-size: 40px;
}

.post--title
{
    text-align: center;
}

.post--button-like
{
    position: relative;
    background-color: inherit;
    background-image: url("../images/like.png");
    background-size: 100% 100%;
    border: none;
    left: 30%;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    cursor: pointer;
}

.post--button-like:hover
{
    background-color: rgb(69, 68, 68);
}

.post--button-comm
{
    border-radius: 30%;
    cursor: pointer;
    position: relative;
    background-color: inherit;
    background-image: url("../images/comm.png");
    background-size: 100% 100%;
    border: none;
    left: 45%;
    width: 100px;
    height: 100px;
}

.post--button-comm:hover
{
    background-color: rgb(69, 68, 68);
}

.post--footer
{
    position: relative;
    width: 90%;
    left: 5%;
    border-top: 1px solid white;
}

.open--post
{
    cursor: pointer;
}

.comment--section
{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;

    width: 90%;
    height: 40px;
}

.comment--input
{
    position: relative;
    display: inline-block;
    font-size: 40px;
    background-color: rgba(10, 10, 10,0.8);
    color: white;
    width: 80%;
    height: 40px;
    border: none;
    border-top: 1px solid white;
    border-bottom-left-radius: 10px;
}

.comment--input:focus
{
    outline: none;
}

.comment--send
{
    position: absolute;
    background-color: rgba(10, 10, 10,0.8);
    width: 20%;
    height: 43px;
    right: 7.5%;
    border-top-right-radius: 10px;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.input--comm-sender
{
    position: relative;
    display: inline-block;
    width: 80%;
    left: 10%;
    height: 50px;
    color: gray;
}

.input--comm-sender span
{
    position: absolute;
    top:7px;
    cursor: text;
    pointer-events: none;
    color: #999;
    line-height: 17px;
    font-size: 30px;
    margin-left: 2px;
}
